
.DS_Store

build/events.xcodeproj/project.pbxproj
build/events.xcodeproj/project.xcworkspace/
build/events.xcodeproj/xcuserdata/omaroubari.xcuserdatad/xcschemes/
build/obj/Debug/events.build/
build/obj/Debug/XCBuildData/

.ipynb_checkpoints
docs/_build
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
surf*/
*data/

/clustering/download/
/clustering/r_search
/clustering/complexity_cifar*
/clustering/cifar_complexity*
/clustering/nmnist_complexity*
/clustering/*complexity
/clustering/milled_nbs/
*/tiny_images/
*/example_ts/
*_train*
*_test*
results/
build/
clustering/analysis*
clustering/_name_*
clustering/global_optimum/
clustering/complexity/
clustering/stability/
clustering/free_energy/
clustering/full_pipeline/
