
.DS_Store

build/events.xcodeproj/project.pbxproj

build/events.xcodeproj/project.xcworkspace/

build/events.xcodeproj/xcuserdata/omaroubari.xcuserdatad/xcschemes/

build/obj/Debug/events.build/

build/obj/Debug/XCBuildData/

build/vc-GMM.xcworkspace/

.ipynb_checkpoints
docs/_build
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
surf*/
*data/

build/obj/Debug/vc_gmm.build/

build/vc_gmm.xcodeproj/

build/debug/

build/obj/Release/vc_gmm.build/

build/release/


/clustering/download/
/clustering/r_search
/clustering/complexity_cifar*
/clustering/cifar_complexity*
/clustering/nmnist_complexity*
/clustering/cifar_10run*
/clustering/old*
/clustering/*complexity
/clustering/*milled_nbs
milled_nbs*/
/clustering/milled_nbs/
*/tiny_images/
*/example_ts/
*_train*
*_test*
results/
/data-generation/song.npy
/data-generation/susy.npy
/data-generation/kdd.npy
build/var_gmm.xcodeproj/

build/

*.pdf

clustering/analysis*
clustering/_name_*
clustering/global_optimum/

clustering/complexity/

clustering/stability/

clustering/free_energy/4/centers/

clustering/free_energy/4/

clustering/free_energy/6/centers/

clustering/free_energy/6/tr_quantization/

clustering/free_energy/6/

clustering/full_pipeline/centers/

clustering/full_pipeline/
